<%- include('partials/header') %>
<%- include('partials/not-home', { title: 'Meals' }) %>
  <div class="container">
    <p><a href="/meals/add">Add Meal</a></p>
    <p><a href="/students/topup">Top up Money</a></p>
    <p><a href="/meals/empty">Stock Empty</a></p>
    <p><a href="/staffs/see">See Student Orders</a></p>
  </div>
  <div class="container">
    <table class="table table-hover" style="margin-bottom: 100px">
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>QR Code</th>
      </tr>
      <% for (let i = 0; i < data.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= data[i].name %></td>
          <td><%= data[i].price %></td>
          <td><%= data[i].stock %></td>
          <td><a href="/meals/<%= data[i].id %>/qrcode"><button class="btn">Order</button></a></td>
        </tr>
      <% } %>
    </table>
  </div>
  <%- include('partials/footer') %>