<%- include('partials/header') %>
<%- include('partials/not-home', { title: 'Buy Meal' }) %>
<div class="container">
  <form action="/meals/<%= data.id %>/buy" method="POST">
    <h4><%= data.name %></h4>
    <div>
      <label>Amount</label><br>
      <input type="number" name="amount">
    </div>
    <br>
    <div>
      <p><b>Stock Available: </b><%= data.stock %></p>
      <%= errors %>
    </div>
    <div>
      <h4><b>Price: </b><%= toRupiah(data.price) %></h4>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Buy</button>
    <a href="/students/topup"><button type="button" class="btn btn-success">Top Up</button></a>
  </form>
</div>
<%- include('partials/footer') %>