<%- include('partials/header') %>
<%- include('partials/not-home', { title: 'Welcome!' }) %>
  <div class="container">
    <h2>Hi there, <%= data.first_name %></h2>
    <h3>Here is your username: <%= data.username %></h3>
  </div>
<%- include('partials/footer') %>