<%- include('partials/header') %>
<%- include('partials/not-home', { title: 'Student Meals' }) %>
  <div class="container" style="margin-bottom: 100px;">
    <form action="/staffs/see" method="POST">
      <table class="table table-hover">
        <tr>
          <th>No</th>
          <th>Student</th>
          <th>Meal</th>
          <th>Amount</th>
          <th>Checklist</th>
        </tr>
        <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= data[i].username %></td>
            <td><%= data[i]['Meals.name'] %></td>
            <td><%= data[i]['Meals.StudentMeal.amount'] %></td>
            <td><input type="checkbox" value="<%= data[i]['Meals.StudentMeal.id'] %>" name="id[]"></td>
          </tr>
        <% } %>
      </table>
      <button type="submit">Remove Done</button>
    </form>
  </div>
  <%- include('partials/footer') %>
