<%- include('partials/header') %>
<%- include('partials/not-home', { title: 'Welcome!' }) %>
  <div class="container">
    <h2>Hi there student, <%= data.first_name %></h2>
    <br>
    <h3>Here is your username: <%= data.username %></h3>
    <br>
    <h3>Enjoy your lunch!</h3>
    <br>
    <a href="/students/login"><button type="button" class="btn btn-primary">Login</button></a>
  </div>
<%- include('partials/footer') %>